<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <title>TODO-APP</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        </head>

<body>

<div class="jumbotron">
    <h2 class="display-4" align="center">Hello, User!</h2>
    <hr class="my-4">
    <p align="center">Tidy App for your todos.</p>
    <p class="lead" align="center">
        <a class="btn btn-primary btn-lg" href="/todos" role="button" align="center">What's on my List ?</a>
    </p>
</div>

</body>
</html>